<<<<<<< HEAD
<ul>
  <% users.forEach(function(user){ %>
    <li><%= user.name %></li>
  <% }) %>
=======
<ul>
  <% users.forEach(function(user){ %>
    <li><%= user.name %></li>
  <% }) %>
>>>>>>> 7af941ee074ba19b0302249f5332e62ee930056a
</ul>